body {
  color: rgb(145, 145, 145);
}

#codesmithImg {
  width: 27vw;
  height: auto;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.MainContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(212, 216, 220);
}

.LandingPage {
  width: 100vw;
  height: 100vh;

  background-color: #020C25;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:5vw;

  margin-left: auto;
  margin-right: auto;

  padding: 20px;



  .LandingText {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    color: whitesmoke;
  }

  .loginLink {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
    color: whitesmoke;
  }

  .LogInButton {
    cursor: pointer;
    width: 275px;
    height: 70px;
    background-image: url('https://i.stack.imgur.com/mKpeu.png');
    background-size: 265px;
    border-radius: 15px;
    border: 5px solid rgb(0, 126, 189);
  }

  .LogInButton:hover {
    border: 5px solid  #019be8;
    box-shadow: -3px 4px 6px  #00314a;
    transition: 0.3s;
  }

  .LogInButton:active {
    background-color: #ffbf00;
}
}

.bigger {
  font-size: 250%;
}

.SetCohort {
  width: 100vw;
  height: 120vh;
  z-index: 1000;

  background-color: #020C25;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:5vw;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;

  padding: 20px;



  .SetCohortText {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 25px;
    color: whitesmoke;
    width: 70vw;
  }

  .lineTitle {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    color: whitesmoke;
  }

  #cohortSelect {
    padding: 6px;
    width: 8vw;
    height: 5vh;
    margin-bottom: 4vh;
    margin-right: 30px;
    border-radius: 8px;
    font-size: 15px !important;
  }

  #orgSelect {
    padding: 10px;
    width: 16vw;
    height: 5vh;
    margin-bottom: 4vh;
    margin-right: 30px;
    border-radius: 8px;
    font-size: 15px !important;
  }

  #linkedSelect {
    padding: 10px;
    width: 13.2vw;
    height: 5vh;
    margin-bottom: 4vh;
    margin-right: 30px;
    border-radius: 8px;
    font-size: 15px !important;
  }

  #cohortNumberSelect {
    padding: 10px;
    width: 6vw;
    height: 5vh;
    margin-bottom: 4vh;
    margin-right: 30px;
    border-radius: 8px;
    font-size: 15px !important;
  }

  .SetCohortInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 1vw;

    input {
      width: 10vw;
    }

    button {
      width: 15vw;
      height: 7vh;
      border-radius: 15px;
      color: whitesmoke;
      background-color: #008dd3;
      border: #008dd3;
      font-family: Verdana, Tahoma, sans-serif;
      font-weight: 500;
    }
      button:hover {
    background-color: #009fee;
    transition: 0.3s;
  }

  button:active {
    background-color: #0180c0;
}
  }
}

.HomeContainerPage {
  display: flex;
  flex-direction: column;
}

.HomePage {
  font-size: 30px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #00314a;
}

.DisplayBox {
  padding: 30px;
  text-align: center;
  color: #00314a;
  margin-top: 5vh;
}

.NavBar {
  width: 100%;
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  // background-color: #25355d;
  background-color: #203045;
  box-shadow: 0px 3px 1px #35373e;

  .NavItems {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;

    .SearchBarButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      input {
        border-style: none;
        border-radius: 10px;
        height: 30px;
        padding: 10px;
      }

    }

    button {
      // background-color: #25355d;
      height: 60px;
      width: max-content;
      min-width: 80px;
      background-color: #203045;
      color: rgb(221, 221, 221);
      border: none;
      font-family: Verdana, Tahoma, sans-serif;
      padding: 10px;
    }
    button:hover {
      color: white;
      background-color: #293d57;
      transition: 0.3s;
    }
    button:action {
      color: white;
      background-color: #213045;
    }
  }
}


.ResidentsPage {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 2.5em;
  font-family: Verdana, Tahoma, sans-serif;
  
    .ResidentsByCohort {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 50px;
      justify-items: center;

      .ResidentBox {
        height: 13vw;
        width: 13vw;
        min-height: 240px;
        min-width: 240px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        border-style: none;
        border-radius: 10px;

        color: rgb(48, 48, 48);
        background-color: rgb(230, 230, 230);
        box-shadow: 0px 10px 10px rgb(170, 175, 185);
      }
      .ResidentBox:hover {
        background-color: rgb(243, 243, 243);
        transition: 0.3s;
      }
      .ResidentBox:action {
        background-color: rgb(230, 230, 230);
      }
    }
}

.ResidentsProfile {
  text-align: left;
  font-size: 2.5em;
  font-family: Verdana, Tahoma, sans-serif;
  
  .ResidentBox {
    height: 13vw;
    width: 13vw;
    min-height: 240px;
    min-width: 240px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    border-style: none;
    border-radius: 10px;

    color: rgb(48, 48, 48);
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 10px 10px rgb(170, 175, 185);
  }
}

.UserContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;

  .ResidentDetails {
    height: 85vh;
    width: 60vw;
    min-height: 240px;
    min-width: 240px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
    border-style: none;
    border-radius: 10px;
  
    color: rgb(48, 48, 48);
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 10px 10px rgb(170, 175, 185);
  }
}


.ProfilePicture {
  width:  8vw;
  height: 8vw;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #203045;
}

.EmptyPhoto {
  width: 8vw;
  height: 8vw;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #203045;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: #00314a;
  color: whitesmoke;
  font-weight: 600;
}

.cardInfo {
  font-size: 1.2rem;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 600;
  color: #013b59;
  letter-spacing: .07em;
  margin-top: 10px;
  margin-bottom: 6px;
}

.userInfo {
  font-size: .9rem;
  color: #454751;
  font-family: Verdana, Tahoma, sans-serif;
}

.message {
  color: rgb(31, 31, 31);
  font-family: Verdana, Tahoma, sans-serif;
}

.cohortTitle {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 3em;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: .02em;
  text-align: center;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cohortButton {
  height: 8vw;
  width: 8vw;
  min-height: 100px;
  min-width: 100px;

  display: grid;

  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  
  border-style: none;
  border-radius: 10px;

  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.4em;
  color: rgb(48, 48, 48);
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 10px 10px rgb(170, 175, 185);
}
.cohortButton:hover {
  color: white;
  background-color: #034f75;
  border: #034f75;
  transition: 0.3s;
}
.cohortButton:action {
  color: white;
  background-color: #213045;
}

.CohortPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
    .Cohortbox {
      display: flex;
      grid-template-columns: repeat(6, 1fr);
      gap: 50px;
      justify-items: center;
      margin-top: 80px;

      .cohortButton {
        height: 10vw;
        width: 10vw;
        min-height: 150px;
        min-width: 150px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        border-style: none;
        border-radius: 10px;

        font-size: 25px;
        font-weight: 500;
        color: rgb(48, 48, 48);
        background-color: rgb(230, 230, 230);
        box-shadow: 0px 10px 10px rgb(170, 175, 185);
      }
      .cohortButton:hover {
        color: white;
        background-color: #034f75;
        border: #034f75;
        transition: 0.3s;
      }
      .cohortButton:action {
        color: white;
        background-color: #213045;
      }
    }
}

.BackButton {
  width: 7vw;
  height: 60px;
  border: 1px solid #034f75;
  border-radius: 20px;
  background-color: #034f75;
  color: whitesmoke;
  font-family: Verdana, Tahoma, sans-serif;
  z-index: 1000;
  font-size: 1.5rem;
  margin-top: 20px;
}
.BackButton:hover {
  color: white;
  background-color: rgb(6, 109, 161);
  border: rgb(6, 109, 161);
  transition: 0.3s;
}
.BackButton:action {
  color: white;
  background-color: #213045;
}